html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}


h2 {
    font: bolder 36px monospace;
    text-align: center;
}


h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}


.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


.deck .card.open {
    /* transform: rotateY(0); TODO: animate card */
    background: #02b3e4;
    cursor: default;
    pointer-events: none;
}


.deck .card.show {
    font-size: 33px;
    pointer-events: none;
}


.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    pointer-events: none;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 15px;
}


.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}


.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves {
    margin: 0 10px;
    padding: 0;
}


.score-panel .timer {
    margin: 0 10px;
    padding: 0;
}


.score-panel .restart {
    float: none;
    cursor: pointer;
    margin: 0 10px;
    padding: 12px;
}


/*
 * Styles for the Modal
 */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    margin: auto;
    align-items: center;
    text-align: center;
}


.close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}


.close:hover {
    background-color: darkgray;
}


.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.modalstars {
    margin: auto;
    font-size: 36px;
    color: #fc0;
}


.fa fa-star {
    text-align: center;
}


.button-group {
    width: 100%;
    text-align: center;
}


#modalstars.modalstars li {
    list-style: none;
    display: inline-block;
    margin: auto;
    padding: 12px;
    text-align: center;
}


#button {
    background-color: #02b3e4;
    position: relative;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
}


/*
 * Media Query styles. Target devices Nexus 5, iphone 6/7/8, iPad, desktop
 */

@media screen and (max-width: 360px) {
    .deck {
        width: 95%;
        max-height: 320px;
        min-height: 88vw;
        padding: 0;
        margin: 0;
    }

    .deck .card {
        height: 60px;
        width: 60px;
        padding: 0;
        margin: 0;
    }

    .score-panel {
        text-align: center;
        max-width: 90%;
        margin-bottom: 12px;
    }

    .modal-content {
        padding: 15px;
        width: 85%;
        border-radius: 8px;
        margin: auto;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width: 375px) {
    .deck {
        width: 95%;
        max-height: 356px;
        min-height: 98vw;
        padding: 15px;
        margin: 0;
    }

    .deck .card {
        height: 18vw;
        width: 18vw;
    }

    .score-panel {
        text-align: center;
        max-width: 90%;
        margin-bottom: 12px;
    }

    .modal-content {
        padding: 15px;
        width: 85%;
        border-radius: 8px;
        margin: auto;
        align-items: center;
        text-align: center;
    }
}
